<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862535373415-l7a8vdnu2eq1a6pf7anhlh74pc4osknr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862535373415-l7a8vdnu2eq1a6pf7anhlh74pc4osknr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862535373415-p0v0848ubcq62u3lt4kbpbv3un10leo1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBH1ULhMVx0hp_MnQY5raSgZ9anu19E3D4</string>
	<key>GCM_SENDER_ID</key>
	<string>862535373415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evotek.medical</string>
	<key>PROJECT_ID</key>
	<string>evotek-medical-appointment</string>
	<key>STORAGE_BUCKET</key>
	<string>evotek-medical-appointment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862535373415:ios:57fe86c0d0200e5b803ac2</string>
</dict>
</plist>