<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdsAppID</key>
	<string>YAKUO1</string>
	<key>AdsAppKey</key>
	<string>APPKEY_DEMO_IOS</string>
	<key>AdsAppName</key>
	<string>薬王堂公式アプリ</string>
	<key>AdsCompanyID</key>
	<string>INC_YAKUODO</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>薬王堂公式アプリ</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>deeplinkapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>deeplinkapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dev</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>5fFT_03XTBxVoW_aY6V4Hf_ytbhoLUnOuKdT7</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>このアプリはご利用時のメディアライブラリを使用します。</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>ビーコンを受信するため、Bluetoothを許可してください。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>ビーコンを受信するため、Bluetoothを許可してください。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>カレンダー使用許可をお願いします。</string>
	<key>NSCameraUsageDescription</key>
	<string>店頭やチラシに掲載のQRコードを読み取り、マイルやクーポンに交換するために使用します。</string>
	<key>NSContactsUsageDescription</key>
	<string>このアプリは連絡先を使用します。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>あなたの位置情報へのアクセスを常に許可している場合は、位置情報に連動した、最新のお得情報をお届けします。アクセスをApp使用中のみ許可にしている場合は、Appを開いた時のみ更新のためすぐにお得情報が届かない場合があります。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>あなたの位置情報へのアクセスを常に許可している場合は、位置情報に連動した、最新のお得情報をお届けします。アクセスをApp使用中のみ許可にしている場合は、Appを開いた時のみ更新のためすぐにお得情報が届かない場合があります。</string>
	<key>NSLocationUsageDescription</key>
	<string>あなたの位置情報へのアクセスを常に許可している場合は、位置情報に連動した、最新のお得情報をお届けします。アクセスをApp使用中のみ許可にしている場合は、Appを開いた時のみ更新のためすぐにお得情報が届かない場合があります。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>あなたの位置情報へのアクセスを常に許可している場合は、位置情報に連動した、最新のお得情報をお届けします。アクセスをApp使用中のみ許可にしている場合は、Appを開いた時のみ更新のためすぐにお得情報が届かない場合があります。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>マイク使用許可をお願いします。</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) motion use.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>動画と写真使用許可をお願いします。</string>
	<key>NSRemindersUsageDescription</key>
	<string>$(PRODUCT_NAME) reminders use.</string>
	<key>NSSiriUsageDescription</key>
	<string>$(PRODUCT_NAME) siri use.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>音声認識使用許可をお願いします。</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>許可いただくと、お客様の好みにあった情報が表示されやすくなります。</string>
	<key>NSVideoSubscriberAccountUsageDescription</key>
	<string>動画使用許可をお願いします。</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Segoe UI Bold.ttf</string>
		<string>SegoeUI.ttf</string>
		<string>seguisbi.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
